<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Harish Data</title>
  <style>
    #banner {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  {% include 'nav.html' %}
  <img class="img-fluid" id="banner" src="static/vidhansbha.jpg">
  <div class="container">
    <h1 class="text-center mt-2 mb-4">{{ company_name }} Data</h1>
    <!-- <img class="img-fluid" id="banner" src="static/vidhansbha.jpg"> -->
    <!-- <h2 class="text-center">About Maharashtra Vidhan Sabha</h2> -->
    <div class='row'>
      <div class='col-md-6' style='margin-bottom: 16px;'>
        <p class='lead'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur lectus ac purus ullamcorper, eget accumsan justo lobortis. Vivamus ut ipsum aliquam, fermentum turpis eu, faucibus ex. Vivamus in sapien nec quam vehicula cursus. <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur lectus ac purus ullamcorper, eget accumsan justo lobortis. Vivamus ut ipsum aliquam, fermentum turpis eu, faucibus ex. Vivamus in sapien nec quam vehicula cursus.
        </p>
      </div>
      <div class='d-none d-md-block col-md-6'>
        <img src="static/assembly_session_image.jpg" style="height: 320px; border-radius: 4px;">
      </div>
    </div>
    <h2 class="text-center mt-2 mb-4">Job Opening</h2>
    <p >
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    
    </p>
    <div class="text-center">
      <a href="mailto:harishdeshpande780@gmail.com?subject=Question about job opening!" class="btn btn-primary btn-lg">Contact Us</a>
      <p class="mt-4">copyright harish, 2024</p>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>